.footer__section {    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    grid-area: footer;
    background-color: rgb(216, 216, 216);
    grid-template-columns: 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

